<!DOCTYPE html>
<html>
	<head>
		<title>WEB - new</title>
		<meta charset = "utf-8">
        <link type="text/css" rel="stylesheet" href="/statics/style.css">
	</head>
	<body>
        <div id="head">
			<h1>Join Us!</h1>
		</div>
        
        <form action="/new" method="post">
            <p><input type="text" name="name" placeholder="name"></p>
            <p><input type="text" name="profile" placeholder="profile"></p>
            <p><input type="password" name="password" placeholder="password"></p>
            <button type="submit">회원가입</button>
            <button type="button" onclick="location.href='/login' ">취소</button><br>
        </form>
	</body>
</html>