<!DOCTYPE html>
<html>
	<head>
		<title>WEB - {{ title }}</title>
		<meta charset = "utf-8">
        <link type="text/css" rel="stylesheet" href="/statics/style.css">
	</head>
	<body>
        <h1><a href="/signup">Join Us!</a></h1>
		<div>
            <form action="/signup" method="post">
                <p><input type="text" name="name" placeholder="name"></p>
                <p><input type="number" name="birth" placeholder="19900101"></p>
                <p><input type="password" name="password" placeholder="password"></p>
                <button type="submit">회원가입</button>
                <button type="button" onclick="location.href='/login'">취소</button><br>
            </form>
        </div>
        {{ message | safe }}
	</body>
</html>
