<!DOCTYPE html>
<html>
<head>
    <title>My Diary - Update</title>
    <meta charset="utf-8">
</head>
<body>
    <h1><a href="/">{{ name }} Diary</a></h1>
    <ol>
{{ menu | safe}}
    </ol>
    <h2>{{ title }}</h2>
    {{ content }}
    <h2>Update</h2>
    <form action="/update/{{ id }}" method="post">
        <p><input type="text" name="title" placeholder="title"></p>
        <p><textarea name="content" placeholder="content"></textarea></p>
        <button type="submit">수정</button>
    </form>
</body>
</html>